.about-me { 
    margin-top: 120px;
    // height: 600px;

    &__img {
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 100%;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 570px;
        column-gap: 70px;
    }

    &__info {
        position: relative;
    }

    &__text {
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }

    &__skills {
        margin-top: 40px;
        display: grid;
        grid-template: repeat(2,116px)/repeat(2,auto);
        gap: 20px 50px;
    }

    &__skill {
        display: flex;
        .skill-content {
            margin-left: 24px;
        }

        .skill-text {
            margin-top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}