.promo {
    min-height: 100vh;
    position: relative;
    background: #3498DB;
    padding-top: 206px;

    &__title {
        width: 535px;
        margin-top: 9px;
    }
    
    &__btns {
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
    }

    &__btn {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #000000;

        &:hover {
            color:#000000;
            text-decoration: none;
        }
    }
}