.round {
    margin-right: 34px;
    img {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    position: relative;
    @include round_orange;
    z-index: 1;
    &::before {
        top: 0;
        left: 0px;
    }
}