.social {
    top: 226px;
    left: 50px;
    height: 340px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 3;

    a {
        &:nth-child(1) {
            &:hover {
                svg {
                    path {
                        transition: all .6s;
                        fill: #4267B2;
                    }
                }
            }
            
        }

        &:nth-child(2) {
           &:hover {
            svg {
                path {
                    transition: all .6s;
                    fill: #8a3ab9;
                }
            }
           }
        }
        &:nth-child(3) {
          &:hover {
            svg {
                path {
                    transition: all .6s;
                    fill: #4267B2;
                }
            }
          }
        }
    }

    &__line {
        width: 2px;
        height: 70px;
        background-color: #000;
    }

    &__text {
        height: 150px;
        width: 24px;

        span {
            display: block;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            transform: rotate(-90deg) translate(-30%, -260%);
            width: 150px;
        }
    }
}